{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title%}
    Posts
{% endblock title %}

{% block content %}
    <h1>Все посты</h1>

    {# Форма фильтра #}
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти">
    </form>

    <h2>{{ time_now|date:'M d Y' }} Записей: {{ posts|length }}</h2>
    <hr>
    {% if posts %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Превью</td>
                <td>Категория</td>
                <td>Дата создания</td>
                <td>Рейтинг</td>
            </tr>
            {% for post in posts reversed %}
                <tr>
                    <td>{{ post.title|censor }}</td>
                    <td>{{ post.text|truncatewords:20|censor }}</td>
                    <td>{{ post.post_cat }}</td>
                    <td>{{ post.created }}</td>
                    <td>{{ post.post_rating }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Постов нет</h2>
    {% endif %}

    {# Предыдущая страница #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            <a href="?page={{ page_obj.previous_page_number }}>">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Текущая страница #}
    {{ page_obj.number }}

    {# Следующая страница #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}